[Unit]
Description=dd loopback IP for Collabora
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ip addr add 172.16.255.254/16 dev lo
ExecStop=/usr/bin/ip addr del 172.16.255.254/16 dev lo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
